name: Test & Deploy

on:
  push:
    branches: [ master ]

env:
  SENDINBLUE_API_KEY: ${{ secrets.SENDINBLUE_API_KEY }}
  ANSIBLE_VAULT_PASSWORD: ${{ secrets.ANSIBLE_VAULT_PASSWORD }}

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.17'
    - name: Install SSH key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSH_KEY }}
        known_hosts: ${{ secrets.KNOWN_HOSTS }}
    - name: Checkout data repo
      uses: actions/checkout@v2
      with:
        repository: ambanum/CGUs-data
        path: data
    - run: echo "$ANSIBLE_VAULT_PASSWORD" > vault.key
    - run: npm ci
    - run: npm run test:ci
    - run: pip install --upgrade setuptools
    - run: pip install ansible
    - run: ansible-playbook ops/app.yml -i ops/inventories/production.yml -t update
