name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: release
  cancel-in-progress: false

permissions:
  id-token: write  # Required for OIDC. See https://docs.npmjs.com/trusted-publishers#step-2-configure-your-cicd-workflow
  contents: read

jobs:
  release-decision:
    uses: OpenTermsArchive/shared-workflows/.github/workflows/release-decision.yml@4565230eda2a36c5270784cd73452743dc0a69ed # v0.2.0

  changelog:
    needs: release-decision
    if: ${{ needs.release-decision.outputs.should-release == 'true' }}
    uses: OpenTermsArchive/shared-workflows/.github/workflows/changelog.yml@4565230eda2a36c5270784cd73452743dc0a69ed # v0.2.0

  test:
    needs: changelog
    if: ${{ needs.changelog.outputs.release-type != 'no-release' }}
    uses: OpenTermsArchive/engine/.github/workflows/test.yml@main

  release:
    needs: [changelog, test]
    if: ${{ needs.changelog.outputs.release-type != 'no-release' }}
    uses: OpenTermsArchive/shared-workflows/.github/workflows/release.yml@4565230eda2a36c5270784cd73452743dc0a69ed # v0.2.0
    secrets: inherit

  clean-changelog:
    needs: changelog
    if: ${{ needs.changelog.outputs.release-type == 'no-release' }}
    uses: OpenTermsArchive/shared-workflows/.github/workflows/clean-changelog.yml@4565230eda2a36c5270784cd73452743dc0a69ed # v0.2.0
    secrets: inherit

  trigger-docs:
    needs: release
    if: ${{ needs.release.outputs.released == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - name: Trigger documentation deploy
        uses: peter-evans/repository-dispatch@bf47d102fdb849e755b0b0023ea3e81a44b6f570 # v2
        with:
          token: ${{ secrets.TRIGGER_DOCS_DEPLOY_TOKEN }}
          event-type: engine-release
          repository: OpenTermsArchive/docs
          client-payload: '{"version": "v${{ needs.release.outputs.version }}"}'
