name: Test

on:
  push:
    branches-ignore:
      - master # tests will be launched by workflow_call push:
  pull_request:
    types: [ opened, reopened ]
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        operating_system: [ ubuntu-latest, windows-2019 ]
      fail-fast: false # run tests on other operating systems even if one fails

    runs-on: ${{ matrix.operating_system }}

    steps:
      - run: |
          git config --global user.name 'Open Terms Archive Bot'
          git config --global user.email 'bot@opentermsarchive.org'
          git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: OpenTermsArchive/services-all
          path: ./services-all
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install and Start MongoDB (ubuntu)
        if: matrix.operating_system == 'ubuntu-latest'
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: 4.4
      - name: Install and Start MongoDB (windows)
        if: matrix.operating_system == 'windows-2019'
        uses: crazy-max/ghaction-chocolatey@v1.6.0
        with:
          args: install mongodb
      - run: npm ci
      - run: ./node_modules/.bin/cross-env NODE_ENV=ci npm run validate:schema
      - run: npm test
