name: Test

on: [ push, pull_request ]

env:
  SENDINBLUE_API_KEY: ${{ secrets.SENDINBLUE_API_KEY }}

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        ref: ${{ github.event.pull_request.head.sha }}
    - run: git checkout HEAD
    - run: git fetch origin master:master
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.17'
    - run: npm ci
    - run: |
        git config --global user.name 'AmbNum Bot'
        git config --global user.email 'ambnum.bot@disinfo.quaidorsay.fr'
    - run: npm run validate:schema
    - run: npm run validate:modified
    - run: npm test
