name: Test

on:
  push:
    branches-ignore:
      - main # tests will be launched by workflow_call push:
  pull_request:
    types: [ opened, reopened ]
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        operating_system: [ ubuntu-latest, windows-2019 ]
      fail-fast: false # run tests on other operating systems even if one fails

    runs-on: ${{ matrix.operating_system }}

    steps:
      - run: |
          git config --global user.name 'Open Terms Archive Bot'
          git config --global user.email 'bot@opentermsarchive.org'
          git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - name: Install and Start MongoDB (ubuntu)
        if: matrix.operating_system == 'ubuntu-latest'
        uses: supercharge/mongodb-github-action@1.7.0
        with:
          mongodb-version: 4.4
      - name: Install and Start MongoDB (windows)
        if: matrix.operating_system == 'windows-2019'
        uses: crazy-max/ghaction-chocolatey@v2
        with:
          args: install mongodb
      - run: npm ci
      - run: npm test

  validate_declarations:
    strategy:
      matrix:
        operating_system: [ubuntu-latest, windows-2019]
      fail-fast: false # run tests on other operating systems even if one fails

    runs-on: ${{ matrix.operating_system }}

    steps:
      - run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@v2
      - uses: actions/checkout@v2
        with:
          repository: OpenTermsArchive/contrib-declarations
          path: ./contrib-declarations
      - uses: actions/setup-node@v2
        with:
          node-version: 16.x
      - run: cd ./contrib-declarations && npm install
      - run: npm ci
      - run: ./node_modules/.bin/cross-env NODE_ENV=ci npm run declarations:validate:schema
