name: Test

on:
  push:
    branches-ignore:
      - main # tests will be launched by workflow_call from the "Release" workflow
  pull_request:
    types: [ opened, reopened ]
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        operating_system: 
          - ubuntu-20.04 # Specify latest Ubuntu version with MongoDB preinstalled as for Ubuntu-22.04 MongoDB is not currently available. See https://github.com/actions/runner-images/issues/5490
          - windows-latest
          - macos-latest
      fail-fast: false # run tests on other operating systems even if one fails

    runs-on: ${{ matrix.operating_system }}

    steps:
      - run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: ankane/setup-mongodb@ce30d9041565cb469945895d5bde3384a254dd2e # use commit ID until action is versioned, see https://github.com/ankane/setup-mongodb/issues/2
        with:
          mongodb-version: 5.0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - run: npm ci
      - name: Run tests (Linux)
        if: ${{ runner.os == 'Linux' }}
        run: npm test
      - name: Run tests (Windows or macOS)
        if: ${{ runner.os == 'Windows' || runner.os == 'macOS' }}
        run: npm test -- --timeout 5000

  validate_declarations:
    strategy:
      matrix:
        operating_system: 
          - ubuntu-latest 
          - windows-latest
          - macos-latest
      fail-fast: false # run tests on other operating systems even if one fails

    runs-on: ${{ matrix.operating_system }}

    steps:
      - run: |
          git config --global core.autocrlf false
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: OpenTermsArchive/demo-declarations
          path: ./demo-declarations
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
      - run: cd ./demo-declarations && npm install
      - run: npm ci
      - run: ./node_modules/.bin/cross-env NODE_ENV=ci npm run declarations:validate:schema
